<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coming.look.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.coming.look.domain.Goods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_id, category, picture_url, create_time
  </sql>
  <insert id="insert" parameterType="com.coming.look.domain.Goods" >
    insert into goods (id, store_id, category, 
      picture_url, create_time)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, #{category,jdbcType=VARCHAR}, 
      #{pictureUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>