<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coming.look.dao.PictureMapper">
  <resultMap id="pictureResultMap" type="com.coming.look.domain.Picture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="holder_id" jdbcType="BIGINT" property="holderId" />
    <result column="is_start" jdbcType="VARCHAR" property="isStart" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="classify" jdbcType="VARCHAR" property="classify" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, holder_id, is_start, url, classify, create_time
  </sql>

  <select id="listPicture" resultMap="pictureResultMap">
    select <include refid="Base_Column_List"/> from picture where holder_id = #{holderId} and classify = #{classify}
  </select>
  <insert id="insert" parameterType="com.coming.look.domain.Picture">
    insert into picture (id, holder_id, is_start, 
      url, classify, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{holderId,jdbcType=BIGINT}, #{isStart,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{classify,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
</mapper>