<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coming.look.dao.ShopMapper">
  <resultMap id="shopResultMap" type="com.coming.look.domain.Shop">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_name, longitude, latitude, image_url, address, create_time
  </sql>

  <select id="listShop" resultMap="shopResultMap">
    select <include refid="Base_Column_List"/> from shop
  </select>

  <select id="qryShopById" resultMap="shopResultMap">
    select <include refid="Base_Column_List"/> from shop where id = #{shopId}
  </select>

  <insert id="insert" parameterType="com.coming.look.domain.Shop">
    insert into shop (id, shop_name, longitude,
      latitude, image_url, address,
      create_time)
    values (#{id,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR},
      #{latitude,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>